In [5]:
s = 25
print("참석자의 수를 입력하시오:",s)
s
a = s*1
b = s*2
c = s*4
print("치킨의 수:",a)
print("맥주의 수:",b)
print("케익의 수:",c)

참석자의 수를 입력하시오: 25
치킨의 수: 25
맥주의 수: 50
케익의 수: 100

In [10]:
x = 10
y = 20
z = x
x = y
y = z
print(x, y )

20 10

In [13]:
price = 24*(1+0.06)**382
print(price)
if price>60000000000:
    print(price,"가 더 많습니다")
else: 
    print(price,"가 더 적습니다")

111442737812.28842
111442737812.28842 가 더 많습니다

In [4]:
r = int(input("반지름의 길이: "))
volume = 4/3*3.141592*r**3
print("구의 넓이는 얼마입니까?", volume)

반지름의 길이: 9
구의 넓이는 얼마입니까? 3053.627424

In [5]:
name = input("이름이 무엇입니까?")
print("철수님 반갑습니다.")
age = int(input("나이는 몇살입니까?"))
print("10년 후면 30살이 되시는군요!")

이름이 무엇입니까?철수
철수님 반갑습니다.
나이는 몇살입니까?20
10년 후면 30살이 되시는군요!

In [7]:
price = int(input("물건값을 입력하시오:"))

bill1000 = int(input("1000원 지폐개수:"))
coin500 = int(input("500원 동전개수:"))
coin100 = int(input("100원 동전개수:"))

money = (bill1000 * 1000 + coin500 * 500 + coin100 * 100) - price
money500 = money//500
money100 = money%500//100
money10 = money%500%100//10
money1 = money%500%100%10//1

print("500원=",money500 ,"100원=",money100 ,"10원=", money10,"1원=",money1 )

물건값을 입력하시오:750
1000원 지폐개수:1
500원 동전개수:0
100원 동전개수:0
500원= 0 100원= 2 10원= 5 1원= 0

In [11]:
first = input("첫번째 정수:")
second = input("두번째 정수:")

if first>second:
    print("큰 수는" + first )
else:
    print("큰 수는" + second)

첫번째 정수:50
두번째 정수:20
큰 수는50

In [14]:
price = int(input("구입 금액을 입력하시오:"))
if price >100000:
    price = price*0.95
    print("지불금액은",price,"입니다")
else:
    print("지불금액은",price,"입니다")

구입 금액을 입력하시오:90000
지불금액은 90000 입니다

In [17]:
number = int(input("정수를 입력하시오:"))
if number > 0:
    print("입력된 정수는 양수입니다")
elif number < 0:
    print("입력된 정수는 음수입니다")
else:
    print("입력된 정수는 0입니다")

정수를 입력하시오:1
입력된 정수는 양수입니다

In [5]:
month = int(input("월을 입력하시오:"))
if month == 2:
    print("월의 날수는 28")
elif month % 2 == 0:
    print("월의 날수는 30")
else:
    print("월의 날수는 31")

월을 입력하시오:4
월의 날수는 30

In [12]:
year = int(input("연도를 입력하시오:"))
if ((year % 4 == 0 and year % 100 != 0) or year % 400 == 0):
    print(year, "년은 윤년입니다.")
else:
    print(year, "년은 윤년이 아닙니다.")

연도를 입력하시오:2001
2001 년은 윤년이 아닙니다.

In [17]:
num = int(input("어디까지 계산할까요:"))
sum = 0
for num2 in range(num+1):
    sum = sum + num2
print("1부터 ", num, "까지의 정수의 합 = ",  sum)

어디까지 계산할까요:100
1부터  100 까지의 정수의 합 =  5050

In [9]:
n = 1

while n == 10:
    n = n * (n-1)
print(n, "!은", n, "입니다")

1 !은 1 입니다

In [10]:
n = 1
sum = 0

while 3 * n <= 100:
    sum = sum + 3 * n
    n = n + 1
print("1부터 100 사이의 모든 3의 배수의 합은 %d입니다" % sum)

1부터 100 사이의 모든 3의 배수의 합은 1683입니다

In [18]:
score = 0
n = 1

print("종료하려면 음수를 입력하시오")

while score >= 0:
    score = int(input("성적을 입력하시오:"))
    average = score / n
    n = n + 1
    
print("성적의 평균은 %d입니다." %average)

종료하려면 음수를 입력하시오
성적을 입력하시오:50
성적을 입력하시오:20
성적을 입력하시오:-1
성적의 평균은 0입니다.

In [21]:
x = 2
y = 3
def get_max():
    if x > y:
        return(x)
    else:
        return(y)
print(get_max())

3

In [30]:
def sphereVolume():
    volume = 4/3 * 3.141592 * r**3
    return volume

r = int(input("구의 반지름을 입력하시오:"))
print(sphereVolume())

구의 반지름을 입력하시오:10
4188.789333333333

In [12]:
PI = 3.14159265358979   # 전역 상수


radius = float(input('원의 반지름을 입력하시오: '))    
print('원의 면적:', circleArea(radius))
print('원의 둘레:', circleCircumference(radius))

def circleArea(radius):
    return PI*radius*radius   

def circleCircumference(radius):
    return 2*PI*radius

원의 반지름을 입력하시오: 10
원의 면적: 314.159265358979
원의 둘레: 62.8318530717958

In [14]:
def sum(x,y):
    return x+y
    
print("정수의 합:", sum(10,20))
print("정수의 합:", sum(20,20))
print("정수의 합:", sum(24,43))

정수의 합: 30
정수의 합: 40
정수의 합: 67

In [44]:
score = []
total = 0
studentNumber = 0

for i in range(5):
    grade = (int(input("성적을 입력하시요:")))
    score.append(grade)
    total = total + grade
      
average = total / len(score)

for i in range(len(score)):
    if score[i] >= 80:
        studentNumber = studentNumber + 1
        
print("성적 평균은", average, "입니다")
print("80점 이상 성적을 받은 학생은", studentNumber, "명입니다")

성적을 입력하시요:80
성적을 입력하시요:80
성적을 입력하시요:80
성적을 입력하시요:100
성적을 입력하시요:40
성적 평균은 76.0 입니다
80점 이상 성적을 받은 학생은 4 명입니다

In [46]:
dog = []
 
for i in range(4):
    name = input("강아지의 이름을 입력하시오(종료에는 엔터키)")
    dog.append(name)
    
print("강아지들의 이름:", dog)

강아지의 이름을 입력하시오(종료에는 엔터키)r미나
강아지의 이름을 입력하시오(종료에는 엔터키)초롱이
강아지의 이름을 입력하시오(종료에는 엔터키)써니
강아지의 이름을 입력하시오(종료에는 엔터키)팅커벨
강아지들의 이름: ['r미나', '초롱이', '써니', '팅커벨']

In [ ]:
friendName = []

while True:
    print("")
    print("1. 친구 리스트 출력")
    print("2. 친구추가")
    print("3. 친구삭제")
    print("4. 이름변경")
    print("9. 종료 ")
    menuNumber = int(input("메뉴를 선택하시오:"))    
    print("-" * 30)
    
    if menuNumber == 1:
        print(friendName)
    
    elif menuNumber == 2:
        Name = input(print("이름을 입력하시오: "))
        friendName.append(Name)
        
    elif menuNumber == 3:
        Name = input(print("이름을 입력하시오: "))
        friendName.remove(Name)
    
    elif menuNumber == 4:
        oldName = input(print("이름을 입력하시오: "))
        index = friendName.index(oldName)
        newName = input(print("이름을 입력하시오: "))
        friendName[index] = newName
        
    elif menuNumber == 9:
        print("프로그램이 종료되었습니다.")
        break

1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
4. 이름변경
9. 종료
메뉴를 선택하시오:2
------------------------------
이름을 입력하시오:
None김시우

1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
4. 이름변경
9. 종료
메뉴를 선택하시오:4
------------------------------
이름을 입력하시오:
None김시우
이름을 입력하시오:
None이소영

1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
4. 이름변경
9. 종료
메뉴를 선택하시오:1
------------------------------
['이소영']

1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
4. 이름변경
9. 종료

In [7]:
import pandas as pd
import numpy as np
import os

titanic_df = pd.read_csv('titanic_train.csv')
print(titanic_df)
if not os.path.exists('titanic3_train.csv'):
    titanic_df.to_csv('titanic3_train.csv', index=False, mode='w', encoding='utf-8-sig')
else:
    titanic_df.to_csv('titanic3_train.csv', header=False, index=False, mode='a', encoding='utf-8-sig')

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]